body {
  font-family: Helvetica;
}

h1 {
  background-image: url("https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-2/pattern.jpeg");
  font-size: 100px;
  font-weight: bold;
  color: Khaki;
  text-align: center;
}

h2 {
  font-size: 32px;
  font-weight: bold;
  color: white;
}

p {
  display: inline;
}

#brushes {
  background-color: mediumspringgreen;
}

#frames {
  background-color: lightcoral;
}

#paint {
  background-color: skyblue;
}

.item {
  display: block;
  height: inherit;
}

.price {
  font-weight: bold;
  color: blue;
}
